@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: Roboto, sans-serif;
}

.img_cont{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 500px;
    margin-top: 50px;
}

.tituloStikers{
    text-align: center;
    margin-top: 150px;
}
.stickerW{
    width: 400px;
    height: 400px;
    box-shadow: 2px 2px 2px 2px rgba(53, 53, 51, 0.919);
    border-radius: 4px;
}
.stickers_cont, .selects, .cont-btn{
    display: flex;
    justify-content: space-evenly;
}

.selects{
    justify-content: space-around;
    margin: 20px;
}


.btnVerificar, .btn-pswrd{
    background-color: blue;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 5px; 
}
.cont-btn{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.resultado{
    font-size: x-large;
}


.cont-pswrd{
    display: flex;
    justify-content: center;  
}
.contrasena{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 8px solid rgba(29, 26, 26, 0.86);
    padding: 60px;
    border-radius: 8px;
    
}

.btn-pswrd{
    margin-top: 20px;
}